{
  "openapi": "3.0.3",
  "info": {
    "title": "Zadarma API",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Zadarma API.\n\n**Base URL:** `https://api.zadarma.com`\n\n**Authorization:** Each request must include an `Authorization` header in the format `userKey:signature`. The signature is computed as:\n1. Sort request params alphabetically by key\n2. Build query string (RFC 1738)\n3. Concatenate: `method_path + query_string + md5(query_string)`\n4. `signature = base64(HMAC-SHA1(concatenated_string, secret_key))`\n\n**Response format:** JSON by default; add `format=xml` to get XML.\n\n**Rate limits:** 100 requests/min general; 3 requests/min for statistics methods. HTTP 429 is returned when the limit is exceeded.",
    "contact": {
      "name": "Zadarma Support",
      "url": "https://zadarma.com/en/info/about/"
    },
    "termsOfService": "https://zadarma.com/en/legal/"
  },
  "servers": [
    {
      "url": "https://api.zadarma.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Info",
      "description": "Account information: balance, call rates, timezone, price plan details, HLR lookup, and reference lists."
    },
    {
      "name": "SIP",
      "description": "SIP number management: listing, status, CallerID, call forwarding, creation and password management."
    },
    {
      "name": "Statistics",
      "description": "Call statistics: overall, PBX, callback widget, and incoming calls."
    },
    {
      "name": "PBX",
      "description": "PBX configuration: call forwarding, recordings, hold music, call info webhooks, and PBX creation."
    },
    {
      "name": "PBX Extensions",
      "description": "PBX extension management: listing, status, info, recording settings, creation and passwords."
    },
    {
      "name": "PBX IVR",
      "description": "IVR sound files and scenario management."
    },
    {
      "name": "Speech Recognition",
      "description": "Obtaining and initiating speech-to-text recognition for PBX call recordings."
    },
    {
      "name": "Virtual Numbers",
      "description": "Management of virtual (direct) phone numbers: info, ordering, prolongation, forwarding, SMS settings and channel configuration."
    },
    {
      "name": "Documents",
      "description": "Management of document groups required for virtual number ordering and verification."
    },
    {
      "name": "Reseller",
      "description": "Reseller account management: sub-user registration, balance transfers, phone number management, and API key control."
    },
    {
      "name": "SMS",
      "description": "Sending SMS messages and managing templates and sender IDs."
    },
    {
      "name": "WebRTC",
      "description": "WebRTC widget management: key generation, widget creation, domain allowlisting, and deletion."
    },
    {
      "name": "eSIM",
      "description": "eSIM device catalogue, data package listing, and order management."
    },
    {
      "name": "Verify",
      "description": "Phone and email verification via four channels: sms, call_code, email, call_button."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "custom",
        "description": "Authorization header format: `userKey:signature`.\nKeys are generated in your personal account at https://my.zadarma.com/api/.\nSignature algorithm: `base64(HMAC-SHA1(method + queryString + md5(queryString), secretKey))`\nwhere params are sorted alphabetically and encoded with http_build_query (RFC 1738)."
      }
    }
  },
  "paths": {
    "/v1/info/balance": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "User balance",
        "description": "Returns the current balance and currency of the authenticated user's account.",
        "operationId": "info.balance",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "balance",
                    "currency"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "balance": {
                      "type": "number",
                      "example": 10.34,
                      "description": "Current account balance."
                    },
                    "currency": {
                      "type": "string",
                      "pattern": "^[A-Z]{3}$",
                      "example": "USD",
                      "description": "ISO 4217 currency code."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/info/price": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "Call rate for a phone number",
        "description": "Returns the call rate for a given phone number under the user's current price plan. Optionally accepts a CallerID to compute the rate as if calling from that number.",
        "operationId": "info.price",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "pattern": "^\\+?[0-9]{7,15}$",
                  "example": "442037691880",
                  "description": "Destination phone number in international format."
                },
                "caller_id": {
                  "type": "string",
                  "pattern": "^\\+?[0-9]{7,15}$",
                  "example": "442037691880",
                  "description": "CallerID used to make the call (optional). International format."
                }
              },
              "required": [
                "number"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "info"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "info": {
                      "type": "object",
                      "required": [
                        "prefix",
                        "description",
                        "price",
                        "currency"
                      ],
                      "properties": {
                        "prefix": {
                          "type": "string",
                          "pattern": "^[0-9]{1,15}$",
                          "example": "4420",
                          "description": "Matched billing prefix for the number."
                        },
                        "description": {
                          "type": "string",
                          "example": "United Kingdom, London",
                          "description": "Human-readable description of the call destination."
                        },
                        "price": {
                          "type": "string",
                          "pattern": "^[0-9]+\\.[0-9]+$",
                          "example": "0.009",
                          "description": "Per-minute call rate."
                        },
                        "currency": {
                          "type": "string",
                          "pattern": "^[A-Z]{3}$",
                          "example": "USD",
                          "description": "ISO 4217 currency code."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/info/timezone": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "User timezone",
        "description": "Returns the timezone configured for the authenticated user's account, along with the current Unix timestamp and formatted datetime in that timezone.",
        "operationId": "info.timezone",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "unixtime",
                    "datetime",
                    "timezone"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "unixtime": {
                      "type": "integer",
                      "example": 1483228800,
                      "description": "Current Unix timestamp (seconds since epoch)."
                    },
                    "datetime": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                      "example": "2017-01-01 00:00:00",
                      "description": "Current date and time in the user's timezone, format YYYY-MM-DD HH:MM:SS."
                    },
                    "timezone": {
                      "type": "string",
                      "example": "UTC+0",
                      "description": "User's timezone identifier, e.g. 'UTC+0', 'UTC+3'."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/tariff": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "User's current price plan",
        "description": "Returns detailed information about the user's currently active price plan, including usage statistics and the plan scheduled for the next billing period.",
        "operationId": "tariff",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "info"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "info": {
                      "type": "object",
                      "required": [
                        "tariff_id",
                        "tariff_name",
                        "is_active",
                        "cost",
                        "currency",
                        "used_seconds",
                        "used_seconds_mobile",
                        "used_seconds_fix",
                        "used_seconds_speech_recognition",
                        "tariff_id_for_next_period",
                        "tariff_for_next_period"
                      ],
                      "properties": {
                        "tariff_id": {
                          "type": "integer",
                          "example": 5,
                          "description": "User's current price plan ID."
                        },
                        "tariff_name": {
                          "type": "string",
                          "example": "Standart, special",
                          "description": "Name of the user's current price plan."
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": false,
                          "description": "Whether the current price plan is active."
                        },
                        "cost": {
                          "type": "number",
                          "example": 0,
                          "description": "Cost of the price plan."
                        },
                        "currency": {
                          "type": "string",
                          "pattern": "^[A-Z]{3}$",
                          "example": "USD",
                          "description": "ISO 4217 currency code of the price plan."
                        },
                        "used_seconds": {
                          "type": "integer",
                          "example": 1643,
                          "description": "Total price plan seconds used."
                        },
                        "used_seconds_mobile": {
                          "type": "integer",
                          "example": 34,
                          "description": "Price plan seconds used on calls to mobile numbers."
                        },
                        "used_seconds_fix": {
                          "type": "integer",
                          "example": 726,
                          "description": "Price plan seconds used on calls to landline numbers."
                        },
                        "used_seconds_speech_recognition": {
                          "type": "integer",
                          "example": 0,
                          "description": "Price plan seconds used for speech recognition."
                        },
                        "tariff_id_for_next_period": {
                          "type": "integer",
                          "example": 5,
                          "description": "Price plan ID scheduled for the next billing period."
                        },
                        "tariff_for_next_period": {
                          "type": "string",
                          "example": "Standart, special",
                          "description": "Name of the price plan for the next billing period."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/request/callback": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "Request a callback call",
        "description": "Initiates a callback: the system first calls the `from` number, then connects it to the `to` number. If `predicted` flag is set, the system calls `to` first and only bridges the call if `to` answers.",
        "operationId": "request.callback",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "pattern": "^(\\+?[0-9]{7,15}|[0-9]{3,5})$",
                  "example": "442037691880",
                  "description": "Your phone number, SIP number, PBX extension, or PBX scenario to which the callback is made."
                },
                "to": {
                  "type": "string",
                  "pattern": "^(\\+?[0-9]{7,15}|[0-9]{5})$",
                  "example": "442037691881",
                  "description": "Phone number or SIP number that will be called. International format."
                },
                "sip": {
                  "type": "string",
                  "pattern": "^([0-9]{5}|[0-9]{3})$",
                  "example": "00001",
                  "description": "SIP user number or PBX extension (e.g. 100) used to make the call (optional). Its CallerID will be used; shown in statistics; recording and prefix dialling apply if enabled."
                },
                "predicted": {
                  "type": "boolean",
                  "example": false,
                  "description": "Predicted callback flag (optional). If specified, the system calls `to` first and only connects to your SIP or phone if the call is answered."
                }
              },
              "required": [
                "from",
                "to"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "from",
                    "to",
                    "time"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "from": {
                      "type": "string",
                      "pattern": "^\\+?[0-9]{7,15}$",
                      "example": "442037691880",
                      "description": "The number called first (your number)."
                    },
                    "to": {
                      "type": "string",
                      "pattern": "^\\+?[0-9]{7,15}$",
                      "example": "442037691881",
                      "description": "The number called second (destination)."
                    },
                    "time": {
                      "type": "integer",
                      "example": 1435573082,
                      "description": "Unix timestamp of callback initiation."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/request/checknumber": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "Number verification call",
        "description": "Initiates a verification call to the specified number. The system calls `to` from `caller_id` and plays the given `code` as digits.",
        "operationId": "request.checknumber",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "caller_id": {
                  "type": "string",
                  "pattern": "^\\+?[0-9]{7,15}$",
                  "example": "442037691880",
                  "description": "Number displayed during the call (CallerID). Only numbers connected to Zadarma are accepted."
                },
                "to": {
                  "type": "string",
                  "pattern": "^\\+?[0-9]{7,15}$",
                  "example": "442037691881",
                  "description": "Phone number or SIP that will be called for verification. International format."
                },
                "code": {
                  "type": "string",
                  "pattern": "^[0-9]{1,20}$",
                  "example": "4782",
                  "description": "Verification code that will be played during the call. Digits only, maximum 20 characters."
                },
                "lang": {
                  "type": "string",
                  "enum": [
                    "en",
                    "es",
                    "de",
                    "pl",
                    "ru",
                    "ua",
                    "fr"
                  ],
                  "example": "fr",
                  "description": "Language for voicing the code (optional). If empty, the client account language is used if available in system languages."
                }
              },
              "required": [
                "caller_id",
                "to",
                "code"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "from",
                    "to",
                    "time"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "from": {
                      "type": "string",
                      "pattern": "^\\+?[0-9]{7,15}$",
                      "example": "442037691880",
                      "description": "CallerID number used for the verification call."
                    },
                    "to": {
                      "type": "string",
                      "pattern": "^\\+?[0-9]{7,15}$",
                      "example": "442037691881",
                      "description": "Phone number or SIP that was called."
                    },
                    "lang": {
                      "type": "string",
                      "example": "fr",
                      "description": "Language used to voice the code."
                    },
                    "time": {
                      "type": "integer",
                      "example": 1612779278,
                      "description": "Unix timestamp of when the verification call was initiated."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/info/number_lookup": {
      "post": {
        "tags": [
          "Info"
        ],
        "summary": "HLR number lookup (user database check)",
        "description": "Submits one or more phone numbers for HLR lookup to verify if they are active, along with their network, porting and roaming status.\n\n- **Single number:** result returned immediately (Response 1).\n- **Multiple numbers:** only `{\"status\":\"success\"}` is returned (Response 2); full results are sent asynchronously to the configured webhook URL or account email.\n\n**Attention:** configure the HLR page in your personal account before using this method.",
        "operationId": "info.number_lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "numbers"
                ],
                "properties": {
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\+?[0-9]{7,15}$"
                    },
                    "minItems": 1,
                    "example": ["442037691880", "442037691881"],
                    "description": "One or more phone numbers in international format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response 1 (single number): full HLR result returned immediately.\nResponse 2 (multiple numbers): acknowledgement only — result will be sent to webhook/email.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Response 1 — single number result",
                      "type": "object",
                      "required": [
                        "status",
                        "info"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        },
                        "info": {
                          "type": "object",
                          "required": [
                            "mcc",
                            "mnc",
                            "mccName",
                            "mncName",
                            "ported",
                            "roaming",
                            "errorDescription"
                          ],
                          "properties": {
                            "mcc": {
                              "type": "string",
                              "pattern": "^[0-9]{3,5}$",
                              "example": "24702",
                              "description": "Mobile Country Code."
                            },
                            "mnc": {
                              "type": "string",
                              "pattern": "^[0-9]{2,3}$",
                              "example": "02",
                              "description": "Mobile Network Code."
                            },
                            "mccName": {
                              "type": "string",
                              "example": "Latvia",
                              "description": "Country name for the MCC."
                            },
                            "mncName": {
                              "type": "string",
                              "example": "Tele2",
                              "description": "Operator name for the MNC."
                            },
                            "ported": {
                              "type": "boolean",
                              "example": false,
                              "description": "Whether the number has been ported to another operator."
                            },
                            "roaming": {
                              "type": "boolean",
                              "example": false,
                              "description": "Whether the subscriber is currently roaming."
                            },
                            "errorDescription": {
                              "type": "string",
                              "example": "No Error",
                              "description": "HLR lookup error description; 'No Error' if successful."
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Response 2 — multiple numbers async acknowledgement",
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        }
                      }
                    },
                    {
                      "title": "Response 3",
                      "type": "object",
                      "required": [
                        "status",
                        "result",
                        "description"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        },
                        "description": {
                          "type": "string",
                          "example": "Success"
                        },
                        "result": {
                          "type": "object",
                          "required": [
                            "mcc",
                            "mnc",
                            "mccName",
                            "mncName",
                            "ported",
                            "roaming",
                            "errorDescription",
                            "number"
                          ],
                          "properties": {
                            "mcc": {
                              "type": "string",
                              "pattern": "^[0-9]{3,5}$",
                              "example": "24702",
                              "description": "Mobile Country Code."
                            },
                            "mnc": {
                              "type": "string",
                              "pattern": "^[0-9]{2,3}$",
                              "example": "02",
                              "description": "Mobile Network Code."
                            },
                            "mccName": {
                              "type": "string",
                              "example": "Latvia",
                              "description": "Country name for the MCC."
                            },
                            "mncName": {
                              "type": "string",
                              "example": "Tele2",
                              "description": "Operator name for the MNC."
                            },
                            "ported": {
                              "type": "boolean",
                              "example": false,
                              "description": "Whether the number has been ported to another operator."
                            },
                            "roaming": {
                              "type": "boolean",
                              "example": false,
                              "description": "Whether the subscriber is currently roaming."
                            },
                            "errorDescription": {
                              "type": "string",
                              "example": "No Error",
                              "description": "HLR lookup error description; 'No Error' if successful."
                            },
                            "number": {
                              "type": "string",
                              "pattern": "^+?[0-9]{7,15}$",
                              "example": "442037691881",
                              "description": "Phone number in international format."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/info/lists/currencies": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "List of available currencies",
        "description": "Returns the list of currencies supported by Zadarma for pricing and billing.",
        "operationId": "info.lists.currencies",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "currencies"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "currencies": {
                      "type": "array",
                      "description": "List of supported ISO 4217 currency codes.",
                      "items": {
                        "type": "string",
                        "pattern": "^[A-Z]{3}$"
                      },
                      "example": [
                        "USD",
                        "EUR",
                        "GBP",
                        "PLN"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/info/lists/languages": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "List of available interface languages",
        "description": "Returns the list of language codes available in the Zadarma personal account interface.",
        "operationId": "info.lists.languages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "languages"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "languages": {
                      "type": "array",
                      "description": "List of ISO 639-1 language codes available in the personal account.",
                      "items": {
                        "type": "string",
                        "enum": [
                          "en",
                          "es",
                          "de",
                          "pl",
                          "ru",
                          "ua",
                          "fr"
                        ]
                      },
                      "example": [
                        "en",
                        "es",
                        "de",
                        "pl",
                        "ru",
                        "ua",
                        "fr"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/info/lists/tariffs": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "List of available price plans",
        "description": "Returns all available Zadarma price plans in the specified currency, including standard tariffs and package (bundled minutes) tariffs.",
        "operationId": "info.lists.tariffs",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "string",
                  "pattern": "^[A-Z]{3}$",
                  "example": "USD",
                  "description": "ISO 4217 currency code in which plan costs should be returned."
                }
              },
              "required": [
                "currency"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "currency",
                    "tariffs",
                    "package_tariffs"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "currency": {
                      "type": "string",
                      "pattern": "^[A-Z]{3}$",
                      "example": "EUR",
                      "description": "Currency in which plan costs are expressed."
                    },
                    "tariffs": {
                      "type": "array",
                      "description": "Standard (pay-as-you-go) price plans.",
                      "items": {
                        "type": "object",
                        "required": [
                          "tariff_id",
                          "name",
                          "cost",
                          "days"
                        ],
                        "properties": {
                          "tariff_id": {
                            "type": "integer",
                            "example": 5,
                            "description": "Unique price plan ID."
                          },
                          "name": {
                            "type": "string",
                            "example": "Standard",
                            "description": "Display name of the price plan."
                          },
                          "cost": {
                            "type": "number",
                            "example": 0,
                            "description": "Monthly cost in the requested currency."
                          },
                          "days": {
                            "type": "string",
                            "pattern": "^[0-9]+$",
                            "example": "30",
                            "description": "Billing period in days."
                          }
                        }
                      }
                    },
                    "package_tariffs": {
                      "type": "array",
                      "description": "Package tariff groups (bundled minutes plans).",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "tariffs"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "description": "Package group ID."
                          },
                          "name": {
                            "type": "string",
                            "example": "EU",
                            "description": "Package group name."
                          },
                          "tariffs": {
                            "type": "array",
                            "description": "Individual plans within this package group.",
                            "items": {
                              "type": "object",
                              "required": [
                                "tariff_id",
                                "name",
                                "cost"
                              ],
                              "properties": {
                                "tariff_id": {
                                  "type": "integer",
                                  "example": 23,
                                  "description": "Unique price plan ID."
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Office",
                                  "description": "Display name of the package plan."
                                },
                                "cost": {
                                  "type": "number",
                                  "example": 22,
                                  "description": "Monthly cost in the requested currency."
                                },
                                "cost_annual": {
                                  "type": "number",
                                  "example": 216,
                                  "description": "Annual cost in the requested currency (when paid yearly)."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },

    "/v1/sip": {
      "get": {
        "tags": [
          "SIP"
        ],
        "summary": "List of user's SIP numbers",
        "description": "Returns the list of all SIP numbers registered to the authenticated user, along with the number of remaining SIPs that can still be created.",
        "operationId": "sip",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "sips",
                    "left"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "sips": {
                      "type": "array",
                      "description": "List of user's SIP numbers.",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "display_name",
                          "lines"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9]{5}$",
                            "example": "00001",
                            "description": "SIP number ID, zero-padded 5-digit string."
                          },
                          "display_name": {
                            "type": "string",
                            "example": "SIP 1",
                            "description": "Display name of the SIP number."
                          },
                          "lines": {
                            "type": "integer",
                            "example": 3,
                            "description": "Number of simultaneous lines available for this SIP."
                          }
                        }
                      }
                    },
                    "left": {
                      "type": "integer",
                      "example": 3,
                      "description": "Number of remaining SIPs that can be created, based on the user's balance and existing SIP count."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/sip/{sip}/status": {
      "get": {
        "tags": [
          "SIP"
        ],
        "summary": "SIP number online status",
        "description": "Returns the current online (registration) status of the specified user's SIP number.",
        "operationId": "sip.status",
        "parameters": [
          {
            "name": "sip",
            "in": "path",
            "required": true,
            "description": "SIP number ID (zero-padded 5-digit string), e.g. '00001'.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$",
              "example": "00001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "sip",
                    "is_online"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "sip": {
                      "type": "string",
                      "pattern": "^[0-9]{5}$",
                      "example": "00001",
                      "description": "SIP number ID."
                    },
                    "is_online": {
                      "type": "string",
                      "enum": [
                        "true",
                        "false"
                      ],
                      "example": "false",
                      "description": "Online status of the SIP number: 'true' if registered, 'false' if offline."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/sip/callerid": {
      "put": {
        "tags": [
          "SIP"
        ],
        "summary": "Change CallerID for a SIP number",
        "description": "Changes the CallerID phone number displayed when making outgoing calls from the specified SIP number. The new number must be from the list of confirmed or purchased phone numbers.",
        "operationId": "sip.callerid",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "pattern": "^[0-9]{5}$",
                    "example": "00001",
                    "description": "The SIP ID for which the CallerID needs to be changed."
                  },
                  "number": {
                    "type": "string",
                    "pattern": "^\\+?[0-9]{7,15}$",
                    "example": "442037691880",
                    "description": "New CallerID phone number in international format. Must be from the list of confirmed or purchased numbers."
                  }
                },
                "required": [
                  "id",
                  "number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "sip",
                    "new_caller_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "sip": {
                      "type": "string",
                      "pattern": "^[0-9]{5}$",
                      "example": "00001",
                      "description": "SIP number ID for which the CallerID was changed."
                    },
                    "new_caller_id": {
                      "type": "string",
                      "pattern": "^\\+?[0-9]{7,15}$",
                      "example": "442037691880",
                      "description": "The newly set CallerID phone number."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/sip/redirection": {
      "get": {
        "tags": [
          "SIP"
        ],
        "summary": "Get current call forwarding settings",
        "description": "Returns the current call forwarding configuration for all user's SIP numbers, or for a specific SIP if the optional `id` parameter is provided.",
        "operationId": "sip.redirection.get",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^[0-9]{5}$",
                  "example": "00001",
                  "description": "Filter by a specific SIP ID (optional). If omitted, all SIP numbers are returned."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "info"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "info": {
                      "type": "array",
                      "description": "List of call forwarding configurations per SIP number.",
                      "items": {
                        "type": "object",
                        "required": [
                          "sip_id",
                          "status",
                          "condition",
                          "destination",
                          "destination_value"
                        ],
                        "properties": {
                          "sip_id": {
                            "type": "string",
                            "pattern": "^[0-9]{5}$",
                            "example": "00001",
                            "description": "The user's SIP ID."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "on",
                              "off"
                            ],
                            "example": "on",
                            "description": "Current call forwarding status: 'on' or 'off'."
                          },
                          "condition": {
                            "type": "string",
                            "enum": [
                              "always",
                              "unavailable"
                            ],
                            "example": "always",
                            "description": "Call forwarding condition: 'always' — forward all calls; 'unavailable' — forward only when unanswered or SIP is offline."
                          },
                          "destination": {
                            "type": "string",
                            "enum": [
                              "phone",
                              "pbx"
                            ],
                            "example": "phone",
                            "description": "Forwarding destination type: 'phone' — to a phone number; 'pbx' — to a PBX."
                          },
                          "destination_value": {
                            "type": "string",
                            "example": "442037691880",
                            "description": "The forwarding target: a phone number or PBX ID, depending on the destination type."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "put": {
        "tags": [
          "SIP"
        ],
        "summary": "Change call forwarding on SIP number",
        "description": "Updates call forwarding settings for the specified SIP number.\n\nTwo mutually exclusive use cases, distinguished by which parameters are provided:\n\n**Case 1 — Switch forwarding on/off** (provide `id` + `status`):\nEnables or disables call forwarding without changing its destination. Returns the resulting `current_status`.\n\n**Case 2 — Change forwarding destination** (provide `id` + `type` + `number`):\nSets a new forwarding target (phone number). Optionally pass `condition` to control when forwarding is triggered. Returns the new `destination`.",
        "operationId": "sip.redirection.put",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Case 1 — Switch forwarding on/off",
                    "type": "object",
                    "required": [
                      "id",
                      "status"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "pattern": "^[0-9]{5}$",
                        "example": "00001",
                        "description": "SIP ID whose forwarding status is being changed."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "on",
                          "off"
                        ],
                        "example": "on",
                        "description": "New forwarding status: 'on' — enable forwarding; 'off' — disable forwarding."
                      }
                    }
                  },
                  {
                    "title": "Case 2 — Change forwarding destination",
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "number"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "pattern": "^[0-9]{5}$",
                        "example": "00001",
                        "description": "SIP ID whose forwarding destination is being changed."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "phone"
                        ],
                        "example": "phone",
                        "description": "Forwarding type. Currently only 'phone' (forward to a phone number) is supported."
                      },
                      "number": {
                        "type": "string",
                        "pattern": "^\\+?[0-9]{7,15}$",
                        "example": "442037691880",
                        "description": "Phone number to forward calls to, in international format."
                      },
                      "condition": {
                        "type": "string",
                        "enum": [
                          "always",
                          "unavailable"
                        ],
                        "example": "always",
                        "description": "Forwarding condition (optional, defaults to 'always'): 'always' — forward all calls; 'unavailable' — forward only when the SIP is offline or unanswered."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forwarding updated. Case 1 returns `current_status`; Case 2 returns `destination`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Response — Case 1 (status switched)",
                      "type": "object",
                      "required": [
                        "status",
                        "sip",
                        "current_status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        },
                        "sip": {
                          "type": "string",
                          "example": "00001",
                          "description": "SIP ID whose forwarding was updated."
                        },
                        "current_status": {
                          "type": "string",
                          "enum": [
                            "on",
                            "off"
                          ],
                          "example": "on",
                          "description": "Resulting forwarding status after the operation."
                        }
                      }
                    },
                    {
                      "title": "Response — Case 2 (destination changed)",
                      "type": "object",
                      "required": [
                        "status",
                        "sip",
                        "destination"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        },
                        "sip": {
                          "type": "string",
                          "example": "00001",
                          "description": "SIP ID whose forwarding destination was updated."
                        },
                        "destination": {
                          "type": "string",
                          "example": "442037691880",
                          "description": "The new forwarding phone number."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid parameters."
          },
          "401": {
            "description": "Unauthorized."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/v1/sip/create": {
      "post": {
        "tags": [
          "SIP"
        ],
        "summary": "Create a SIP number",
        "description": "Creates a new SIP number for the authenticated user. Optionally, the number can be immediately configured with a phone forwarding destination.",
        "operationId": "sip.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "SIP 1",
                    "description": "Display name for the new SIP number."
                  },
                  "password": {
                    "type": "string",
                    "example": "Str0ngPass!",
                    "description": "Password for SIP registration."
                  },
                  "callerid": {
                    "type": "string",
                    "pattern": "^\\+?[0-9]{7,15}$",
                    "example": "442037691880",
                    "description": "Phone number to use as CallerID for outgoing calls."
                  },
                  "redirect_to_phone": {
                    "type": "string",
                    "pattern": "^\\+?[0-9]{7,15}$",
                    "example": "442037691880",
                    "description": "Phone number to forward incoming SIP calls to (optional)."
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 12345,
                    "description": "User ID (optional). Available for resellers only — to create a SIP on behalf of a sub-user."
                  }
                },
                "required": [
                  "name",
                  "password",
                  "callerid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "sip"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "sip": {
                      "type": "string",
                      "example": "123456",
                      "description": "The ID of the newly created SIP number."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/sip/{sip}/password": {
      "put": {
        "tags": [
          "SIP"
        ],
        "summary": "Change SIP password",
        "description": "Changes the registration password for the specified SIP number. Resellers may use the optional `user_id` parameter to change the password for a SIP belonging to one of their sub-users.",
        "operationId": "sip.password",
        "parameters": [
          {
            "name": "sip",
            "in": "path",
            "required": true,
            "description": "SIP number ID (zero-padded 5-digit string), e.g. '00001'.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$",
              "example": "00001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "example": "NewStr0ngPass!",
                    "description": "New password for SIP registration."
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 12345,
                    "description": "User ID (optional). Available for resellers only — to change a password for a SIP belonging to one of their sub-users."
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "sip"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    },
                    "sip": {
                      "type": "string",
                      "pattern": "^[0-9]{5}$",
                      "example": "00001",
                      "description": "SIP number ID for which the password was changed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },

    "/v1/statistics": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Overall call statistics",
        "description": "Returns call statistics for the authenticated user's SIP numbers.\n\nMaximum period: 1 month. Maximum lines per request: 1000. Use `skip` and `limit` for pagination.\n\nWhen `cost_only` is specified, returns only the total cost and duration for the period instead of individual call records.",
        "operationId": "statistics",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "start": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "Start date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the start of the current month."
                },
                "end": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "End date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the current date and time."
                },
                "sip": {
                  "type": "string",
                  "pattern": "^[0-9]{5}$",
                  "example": "00001",
                  "description": "Filter results by a specific SIP number (optional)."
                },
                "cost_only": {
                  "type": "boolean",
                  "example": false,
                  "description": "If true, returns only the total cost and seconds for the period instead of individual call records (optional)."
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "overall",
                    "toll-free"
                  ],
                  "example": "overall",
                  "description": "Request type (optional): 'overall' (default) — all calls; 'toll-free' — 800 toll-free numbers only."
                },
                "skip": {
                  "type": "integer",
                  "example": 0,
                  "description": "Number of lines to skip (for pagination with `limit`). Default: 0."
                },
                "limit": {
                  "type": "integer",
                  "example": 1000,
                  "description": "Maximum number of lines to return (for pagination with `skip`). Maximum and default value: 1000."
                }
              },
              "required": [
                "start",
                "end"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response 1: individual call records. Response 2: cost summary when `cost_only=true`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Response 1 — individual call records",
                      "type": "object",
                      "required": [
                        "status",
                        "start",
                        "end",
                        "stats"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        },
                        "start": {
                          "type": "string",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                          "example": "2015-06-01 00:00:00",
                          "description": "Start date of the returned statistics period."
                        },
                        "end": {
                          "type": "string",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                          "example": "2015-06-01 00:00:00",
                          "description": "End date of the returned statistics period."
                        },
                        "stats": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "sip",
                              "callstart",
                              "from",
                              "to",
                              "disposition",
                              "billseconds",
                              "cost",
                              "billcost",
                              "currency"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "155112249",
                                "description": "Unique call record ID."
                              },
                              "sip": {
                                "type": "string",
                                "pattern": "^[0-9]{5}$",
                                "example": "00001",
                                "description": "SIP number used for the call."
                              },
                              "callstart": {
                                "type": "string",
                                "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                                "example": "2015-06-01 00:00:00",
                                "description": "Call start date and time."
                              },
                              "from": {
                                "type": "string",
                                "pattern": "^\\+?[0-9]{7,15}$",
                                "example": "442037691880",
                                "description": "Phone number from which the call was made."
                              },
                              "to": {
                                "type": "string",
                                "pattern": "^\\+?[0-9]{7,15}$",
                                "example": "442037691880",
                                "description": "Phone number that was called."
                              },
                              "description": {
                                "type": "string",
                                "example": "United Kingdom, London",
                                "description": "Description of the call destination."
                              },
                              "disposition": {
                                "type": "string",
                                "enum": [
                                  "answered",
                                  "busy",
                                  "cancel",
                                  "no answer",
                                  "call failed",
                                  "no money",
                                  "unallocated number",
                                  "no limit",
                                  "no day limit",
                                  "line limit",
                                  "no money, no limit"
                                ],
                                "example": "answered",
                                "description": "Call status: 'answered' — conversation; 'busy' — busy; 'cancel' — cancelled; 'no answer' — no answer; 'call failed' — failed; 'no money' — no funds/limit exceeded; 'unallocated number' — number does not exist; 'no limit' — limit exceeded; 'no day limit' — day limit exceeded; 'line limit' — line limit exceeded; 'no money, no limit' — limit exceeded."
                              },
                              "billseconds": {
                                "type": "integer",
                                "example": 0,
                                "description": "Billed call duration in seconds."
                              },
                              "cost": {
                                "type": "number",
                                "example": 0.195,
                                "description": "Per-minute call rate to this destination."
                              },
                              "billcost": {
                                "type": "number",
                                "example": 0,
                                "description": "Total cost of the billed minutes."
                              },
                              "currency": {
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "example": "USD",
                                "description": "ISO 4217 currency code."
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Response 2 — cost summary (cost_only=true)",
                      "type": "object",
                      "required": [
                        "status",
                        "start",
                        "end",
                        "stats"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ],
                          "example": "success"
                        },
                        "start": {
                          "type": "string",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                          "example": "2015-06-01 00:00:00",
                          "description": "Start date of the period."
                        },
                        "end": {
                          "type": "string",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                          "example": "2015-06-01 00:00:00",
                          "description": "End date of the period."
                        },
                        "stats": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "cost",
                              "currency",
                              "seconds"
                            ],
                            "properties": {
                              "cost": {
                                "type": "number",
                                "example": 38.094,
                                "description": "Total call cost for the period."
                              },
                              "currency": {
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "example": "USD",
                                "description": "ISO 4217 currency code."
                              },
                              "seconds": {
                                "type": "integer",
                                "example": 9785,
                                "description": "Total call duration in seconds for the period."
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/statistics/pbx": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "PBX call statistics",
        "description": "Returns call statistics for the user's PBX.\n\n**Attention:** Do not poll this method every minute for real-time data — use webhooks to receive notifications at call start and end instead.\n\nMaximum period: 1 month. Maximum lines per request: 1000. Use `skip` and `limit` for pagination.",
        "operationId": "statistics.pbx",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "start": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "Start date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the start of the current month."
                },
                "end": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "End date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the current date and time."
                },
                "version": {
                  "type": "integer",
                  "enum": [
                    1,
                    2
                  ],
                  "example": 2,
                  "description": "Statistics format version: 2 — new format (recommended); 1 — legacy format."
                },
                "call_type": {
                  "type": "string",
                  "enum": [
                    "in",
                    "out"
                  ],
                  "example": "in",
                  "description": "Filter by call direction (optional): 'in' — incoming; 'out' — outgoing. If omitted, all calls are returned."
                },
                "skip": {
                  "type": "integer",
                  "example": 0,
                  "description": "Number of lines to skip (for pagination with `limit`). Default: 0."
                },
                "limit": {
                  "type": "integer",
                  "example": 1000,
                  "description": "Maximum number of lines to return (for pagination with `skip`). Maximum and default value: 1000."
                }
              },
              "required": [
                "start",
                "end",
                "version"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "start",
                    "end",
                    "version",
                    "stats"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    },
                    "start": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                      "example": "2015-06-01 00:00:00",
                      "description": "Start date of the returned statistics period."
                    },
                    "end": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                      "example": "2015-06-01 00:00:00",
                      "description": "End date of the returned statistics period."
                    },
                    "version": {
                      "type": "integer",
                      "enum": [
                        1,
                        2
                      ],
                      "example": 2,
                      "description": "Statistics format version used in the response."
                    },
                    "stats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "call_id",
                          "sip",
                          "callstart",
                          "clid",
                          "destination",
                          "disposition",
                          "seconds",
                          "is_recorded",
                          "pbx_call_id"
                        ],
                        "properties": {
                          "call_id": {
                            "type": "number",
                            "example": 1439981389.2702773,
                            "description": "Unique call ID. Specified in the call recording filename (unique per recording)."
                          },
                          "sip": {
                            "type": "integer",
                            "example": 200,
                            "description": "SIP number used for the call."
                          },
                          "callstart": {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                            "example": "2015-06-01 00:00:00",
                            "description": "Call start date and time."
                          },
                          "clid": {
                            "type": "integer",
                            "example": 200,
                            "description": "CallerID used for the call."
                          },
                          "destination": {
                            "type": "integer",
                            "example": 5,
                            "description": "Call destination (PBX extension or scenario)."
                          },
                          "disposition": {
                            "type": "string",
                            "enum": [
                              "answered",
                              "busy",
                              "cancel",
                              "no answer",
                              "call failed",
                              "no money",
                              "unallocated number",
                              "no limit",
                              "no day limit",
                              "line limit",
                              "no money, no limit"
                            ],
                            "example": "answered",
                            "description": "Call status: 'answered' — conversation; 'busy' — busy; 'cancel' — cancelled; 'no answer' — no answer; 'call failed' — failed; 'no money' — no funds/limit exceeded; 'unallocated number' — number does not exist; 'no limit' — limit exceeded; 'no day limit' — day limit exceeded; 'line limit' — line limit exceeded; 'no money, no limit' — limit exceeded."
                          },
                          "seconds": {
                            "type": "integer",
                            "example": 5,
                            "description": "Call duration in seconds."
                          },
                          "is_recorded": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the call was recorded."
                          },
                          "pbx_call_id": {
                            "type": "string",
                            "example": "in_ae6b03b3b0765d127ec0b739209346bbc4f0d52d",
                            "description": "Permanent ID of the external call to the PBX. Does not change with scenario/IVR changes."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/statistics/callback_widget": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Callback widget statistics",
        "description": "Returns callback widget interaction statistics for the specified period.\n\nMaximum period: 1 month. Maximum lines per request: 1000.",
        "operationId": "statistics.callback_widget",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "start": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "Start date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the start of the current month."
                },
                "end": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "End date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the current date and time."
                },
                "widget_id": {
                  "type": "string",
                  "example": "1",
                  "description": "Widget ID to filter statistics by (optional). If omitted, statistics from all widgets are returned."
                }
              },
              "required": [
                "start",
                "end"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "start",
                    "end",
                    "stats"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    },
                    "start": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                      "example": "2015-06-01 00:00:00",
                      "description": "Start date of the returned statistics period."
                    },
                    "end": {
                      "type": "string",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                      "example": "2015-06-01 00:00:00",
                      "description": "End date of the returned statistics period."
                    },
                    "stats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "widget_id",
                          "sip",
                          "ip",
                          "actions"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "57d16d6a1e46c53d1f8ce323",
                            "description": "Session ID."
                          },
                          "widget_id": {
                            "type": "string",
                            "example": "1",
                            "description": "Widget ID."
                          },
                          "sip": {
                            "type": "string",
                            "pattern": "^[0-9]{5}$",
                            "example": "00001",
                            "description": "SIP number associated with this widget session."
                          },
                          "ip": {
                            "type": "string",
                            "pattern": "^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$",
                            "example": "127.0.0.1",
                            "description": "IP address of the website visitor."
                          },
                          "actions": {
                            "type": "array",
                            "description": "List of events that occurred during the widget session.",
                            "items": {
                              "type": "object",
                              "required": [
                                "kind",
                                "date"
                              ],
                              "properties": {
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "come",
                                    "show",
                                    "call",
                                    "call_request",
                                    "rate",
                                    "fail",
                                    "close"
                                  ],
                                  "example": "come",
                                  "description": "Event type: 'come' — visitor opened widget page; 'show' — widget form displayed; 'call' — callback request; 'call_request' — delayed callback request; 'rate' — visitor rated the call; 'fail' — visitor reported no callback; 'close' — visitor closed widget form."
                                },
                                "date": {
                                  "type": "string",
                                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                                  "example": "2015-06-01 00:00:00",
                                  "description": "Date and time of the event."
                                },
                                "referrer_url": {
                                  "type": "string",
                                  "format": "uri",
                                  "example": "http://test.domain.com/page1/",
                                  "description": "URL the visitor came from (only for 'come' event)."
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "example": "http://home.domain.com/page2/",
                                  "description": "URL of the page with the widget (only for 'come' event)."
                                },
                                "rate": {
                                  "type": "integer",
                                  "example": 15,
                                  "description": "For 'show' — display score; for 'rate' — call rating given by the visitor."
                                },
                                "number": {
                                  "type": "string",
                                  "pattern": "^\\+?[0-9]{7,15}$",
                                  "example": "442037691880",
                                  "description": "Phone number entered by the visitor (for 'call', 'call_request', 'rate', 'fail' events)."
                                },
                                "request_call_date": {
                                  "type": "string",
                                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                                  "example": "2015-06-01 00:00:00",
                                  "description": "Date and time for the delayed callback requested by the visitor (only for 'call_request' event)."
                                },
                                "redial": {
                                  "type": "string",
                                  "enum": [
                                    "y",
                                    "n"
                                  ],
                                  "example": "n",
                                  "description": "Whether a callback was made for the delayed request (only for 'call_request' event)."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/statistics/incoming-calls": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Incoming call statistics",
        "description": "Returns general incoming call statistics for the authenticated user.\n\nMaximum period: 1 month. Maximum lines per request: 1000. Use `skip` and `limit` for pagination.",
        "operationId": "statistics.incoming_calls",
        "parameters": [
          {
            "in": "query",
            "name": "params",
            "schema": {
              "type": "object",
              "properties": {
                "start": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
                  "description": "Start date of the statistics period, format YYYY-MM-DD HH:MM:SS. If omitted, defaults to the start of the current month."
                },
                "end": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2015-06-01 00:00:00",
[...]
