{
  "openapi": "3.0.3",
  "info": {
    "title": "Zadarma Teamsale CRM API",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Teamsale CRM API methods.\n\n**Base URL:** `https://api.zadarma.com`\n\n**Authorization:** Each request must include an `Authorization` header in the format `userKey:signature`. The signature is computed as:\n1. Sort request params alphabetically by key\n2. Build query string (RFC 1738)\n3. Concatenate: `method_path + query_string + md5(query_string)`\n4. `signature = base64(HMAC-SHA1(concatenated_string, secret_key))`\n\n**Response format:** JSON by default; add `format=xml` to get XML.\n\n**Rate limits:** 100 requests/min general; 3 requests/min for statistics methods. HTTP 429 is returned when the limit is exceeded.",
    "contact": {
      "name": "Zadarma Support",
      "url": "https://zadarma.com/en/info/about/"
    },
    "termsOfService": "https://zadarma.com/en/legal/"
  },
  "servers": [
    {
      "url": "https://api.zadarma.com",
      "description": "Production Teamsale API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "custom",
        "description": "Authorization header format: `userKey:signature`.\nKeys are generated in your personal account at https://my.zadarma.com/api/.\nSignature algorithm: `base64(HMAC-SHA1(method + queryString + md5(queryString), secretKey))`\nwhere params are sorted alphabetically and encoded with http_build_query (RFC 1738)."
      }
    }
  },
  "tags": [
    { "name": "Clients", "description": "Customer management" },
    { "name": "Source Tags", "description": "UTM source tag management" },
    { "name": "Labels", "description": "Customer label management" },
    { "name": "Additional Features", "description": "Custom properties" },
    { "name": "Client Timeline", "description": "Customer feed/timeline entries" },
    { "name": "Leads", "description": "Lead management" },
    { "name": "Users", "description": "CRM user management" },
    { "name": "Contacts", "description": "Generalized contact lookup" },
    { "name": "Deals", "description": "Deal management" },
    { "name": "Deal Feed", "description": "Deal timeline/feed entries" },
    { "name": "Tasks", "description": "Task and event management" },
    { "name": "Calls", "description": "Call records" },
    { "name": "Files", "description": "File access" }
  ],
  "paths": {
    "/v1/zcrm/customers": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List customers",
        "description": "Returns a paginated, filterable list of customers.",
        "operationId": "zcrm.customers",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search across name, phones, description, address, zip, website, email, messengers, employees.",
            "schema": {
              "type": "string",
              "example": "John"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Filter by client status.",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "company"
              ]
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "required": false,
            "description": "Filter by client type.",
            "schema": {
              "type": "string",
              "enum": [
                "potential",
                "client",
                "reseller",
                "partner"
              ]
            }
          },
          {
            "name": "filter[country]",
            "in": "query",
            "required": false,
            "description": "Filter by country (ISO 3166-1 alpha-2 code).",
            "schema": {
              "type": "string",
              "example": "GB"
            }
          },
          {
            "name": "filter[city]",
            "in": "query",
            "required": false,
            "description": "Filter by city.",
            "schema": {
              "type": "string",
              "example": "London"
            }
          },
          {
            "name": "filter[label]",
            "in": "query",
            "required": false,
            "description": "Filter by label ID.",
            "schema": {
              "type": "integer",
              "example": 12
            }
          },
          {
            "name": "filter[utm]",
            "in": "query",
            "required": false,
            "description": "Filter by source label (identifier).",
            "schema": {
              "type": "integer",
              "example": 19
            }
          },
          {
            "name": "filter[employees_count]",
            "in": "query",
            "required": false,
            "description": "Filter by number of employees.",
            "schema": {
              "type": "string",
              "enum": [
                "50",
                "50_250",
                "250_500"
              ]
            }
          },
          {
            "name": "filter[responsible]",
            "in": "query",
            "required": false,
            "description": "Filter by responsible user ID.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "sort[attr]",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "status",
                "type"
              ]
            }
          },
          {
            "name": "sort[desc]",
            "in": "query",
            "required": false,
            "description": "Sort direction: 0 — ascending, 1 — descending.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "description": "Number of customers to return (default: 20).",
            "schema": {
              "type": "integer",
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of customers to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totalCount",
                    "customers"
                  ],
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "example": 120,
                      "description": "Total number of customers matching search/filter."
                    },
                    "customers": {
                      "type": "array",
                      "description": "Array of customer objects (paginated).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 65,
                            "description": "Customer ID."
                          },
                          "name": {
                            "type": "string",
                            "example": "Good Company",
                            "description": "Customer name."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "individual",
                              "company"
                            ],
                            "example": "company",
                            "description": "Customer status."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "potential",
                              "client",
                              "reseller",
                              "partner"
                            ],
                            "example": "client",
                            "description": "Customer type."
                          },
                          "responsible_user_id": {
                            "type": "integer",
                            "example": 20,
                            "description": "Responsible user ID."
                          },
                          "employees_count": {
                            "type": "string",
                            "enum": [
                              "50",
                              "50_250",
                              "250_500"
                            ],
                            "example": "50",
                            "description": "Number of employees range."
                          },
                          "comment": {
                            "type": "string",
                            "example": "",
                            "description": "Customer description."
                          },
                          "country": {
                            "type": "string",
                            "example": "GB",
                            "description": "Customer country (ISO 3166-1 alpha-2)."
                          },
                          "city": {
                            "type": "string",
                            "example": "London",
                            "description": "Customer city."
                          },
                          "address": {
                            "type": "string",
                            "example": "",
                            "description": "Customer address."
                          },
                          "zip": {
                            "type": "string",
                            "example": "",
                            "description": "Zip code."
                          },
                          "website": {
                            "type": "string",
                            "example": "",
                            "description": "Customer website."
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-28 05:47:47",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                            "description": "Creation datetime."
                          },
                          "created_by": {
                            "type": "integer",
                            "example": 20,
                            "description": "ID of the user who created the record."
                          },
                          "lead_source": {
                            "type": "string",
                            "enum": [
                              "manual",
                              "call_incoming",
                              "call_outgoing",
                              "form"
                            ],
                            "example": "manual",
                            "description": "Source of the customer record."
                          },
                          "lead_created_at": {
                            "type": "string",
                            "nullable": true,
                            "example": null,
                            "description": "Lead creation datetime (if created from a lead)."
                          },
                          "lead_created_by": {
                            "type": "integer",
                            "nullable": true,
                            "example": null,
                            "description": "User ID who created the lead."
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "phone"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "work",
                                    "personal"
                                  ],
                                  "example": "work",
                                  "description": "Phone number type."
                                },
                                "phone": {
                                  "type": "string",
                                  "example": "+44123456789",
                                  "description": "Phone number value."
                                }
                              }
                            }
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "value"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "email_work",
                                    "email_personal",
                                    "skype",
                                    "telegram",
                                    "viber",
                                    "whatsapp"
                                  ],
                                  "example": "email_work",
                                  "description": "Contact type."
                                },
                                "value": {
                                  "type": "string",
                                  "example": "good_company@example.com",
                                  "description": "Contact value."
                                }
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "label"
                              ],
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 12,
                                  "description": "Label ID."
                                },
                                "label": {
                                  "type": "string",
                                  "example": "Best clients",
                                  "description": "Label name."
                                }
                              }
                            }
                          },
                          "utms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "param",
                                "value",
                                "display_value"
                              ],
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 19,
                                  "description": "Source tag ID."
                                },
                                "param": {
                                  "type": "string",
                                  "enum": [
                                    "utm_source",
                                    "utm_medium",
                                    "utm_campaign",
                                    "utm_content",
                                    "phone",
                                    "custom"
                                  ],
                                  "example": "utm_source",
                                  "description": "Source tag type."
                                },
                                "value": {
                                  "type": "string",
                                  "example": "google",
                                  "description": "Actual tag value."
                                },
                                "display_value": {
                                  "type": "string",
                                  "example": "Google",
                                  "description": "Displayed tag value."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create customer",
        "description": "Creates a new customer with the specified data.",
        "operationId": "zcrm.customers.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "customer": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Good Company",
                        "description": "Customer name."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "company"
                        ],
                        "example": "company",
                        "description": "Customer status."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "potential",
                          "client",
                          "reseller",
                          "partner"
                        ],
                        "example": "client",
                        "description": "Customer type."
                      },
                      "responsible_user_id": {
                        "type": "integer",
                        "example": 20,
                        "description": "Responsible user ID (optional)."
                      },
                      "employees_count": {
                        "type": "string",
                        "enum": [
                          "50",
                          "50_250",
                          "250_500"
                        ],
                        "example": "50",
                        "description": "Number of employees range (optional)."
                      },
                      "comment": {
                        "type": "string",
                        "example": "",
                        "description": "Customer description (optional)."
                      },
                      "country": {
                        "type": "string",
                        "example": "GB",
                        "description": "Country ISO 3166-1 alpha-2 code (optional)."
                      },
                      "city": {
                        "type": "string",
                        "example": "London",
                        "description": "City (optional)."
                      },
                      "address": {
                        "type": "string",
                        "example": "",
                        "description": "Address (optional)."
                      },
                      "zip": {
                        "type": "string",
                        "example": "",
                        "description": "Zip code (optional)."
                      },
                      "website": {
                        "type": "string",
                        "example": "",
                        "description": "Website (optional)."
                      },
                      "lead_source": {
                        "type": "string",
                        "enum": [
                          "manual",
                          "call_incoming",
                          "call_outgoing",
                          "form"
                        ],
                        "example": "manual",
                        "description": "Source (optional)."
                      },
                      "phones": {
                        "type": "array",
                        "description": "Phone numbers array (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "phone"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "work",
                                "personal"
                              ],
                              "example": "work",
                              "description": "Phone number type."
                            },
                            "phone": {
                              "type": "string",
                              "example": "+44123456789",
                              "description": "Phone number value."
                            }
                          }
                        }
                      },
                      "contacts": {
                        "type": "array",
                        "description": "Contacts array (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "value"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "email_work",
                                "email_personal",
                                "skype",
                                "telegram",
                                "viber",
                                "whatsapp"
                              ],
                              "example": "email_work",
                              "description": "Contact type."
                            },
                            "value": {
                              "type": "string",
                              "example": "good_company@example.com",
                              "description": "Contact value."
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels array — each element must contain existing label ID (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 12
                            }
                          }
                        }
                      },
                      "utms": {
                        "type": "array",
                        "description": "Source tags array — each element must contain existing tag ID (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 19
                            }
                          }
                        }
                      },
                      "custom_properties": {
                        "type": "array",
                        "description": "Custom properties array — each element must contain id (or key) and value (optional).",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 18,
                              "description": "Custom property ID."
                            },
                            "key": {
                              "type": "string",
                              "example": "loyalty",
                              "description": "Custom property unique key (alternative to id)."
                            },
                            "value": {
                              "type": "string",
                              "example": "high",
                              "description": "Property value."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response — returns the ID of the created customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 65,
                      "description": "Created customer ID."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/{c_id}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get customer by ID",
        "description": "Returns full customer data by ID, including phones, contacts, labels, UTMs, and custom properties.",
        "operationId": "zcrm.customers.get",
        "parameters": [
          {
            "name": "c_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "example": 65
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 65,
                          "description": "Customer ID."
                        },
                        "name": {
                          "type": "string",
                          "example": "Good Company",
                          "description": "Customer name."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "individual",
                            "company"
                          ],
                          "example": "company",
                          "description": "Customer status."
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "potential",
                            "client",
                            "reseller",
                            "partner"
                          ],
                          "example": "client",
                          "description": "Customer type."
                        },
                        "responsible_user_id": {
                          "type": "integer",
                          "example": 20,
                          "description": "Responsible user ID."
                        },
                        "employees_count": {
                          "type": "string",
                          "enum": [
                            "50",
                            "50_250",
                            "250_500"
                          ],
                          "example": "50",
                          "description": "Number of employees range."
                        },
                        "comment": {
                          "type": "string",
                          "example": "",
                          "description": "Customer description."
                        },
                        "country": {
                          "type": "string",
                          "example": "GB",
                          "description": "Customer country (ISO 3166-1 alpha-2)."
                        },
                        "city": {
                          "type": "string",
                          "example": "London",
                          "description": "Customer city."
                        },
                        "address": {
                          "type": "string",
                          "example": "",
                          "description": "Customer address."
                        },
                        "zip": {
                          "type": "string",
                          "example": "",
                          "description": "Zip code."
                        },
                        "website": {
                          "type": "string",
                          "example": "",
                          "description": "Customer website."
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2020-04-28 05:47:47",
                          "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                          "description": "Creation datetime."
                        },
                        "created_by": {
                          "type": "integer",
                          "example": 20,
                          "description": "ID of the user who created the record."
                        },
                        "lead_source": {
                          "type": "string",
                          "enum": [
                            "manual",
                            "call_incoming",
                            "call_outgoing",
                            "form"
                          ],
                          "example": "manual",
                          "description": "Source of the customer record."
                        },
                        "lead_created_at": {
                          "type": "string",
                          "nullable": true,
                          "example": null,
                          "description": "Lead creation datetime (if created from a lead)."
                        },
                        "lead_created_by": {
                          "type": "integer",
                          "nullable": true,
                          "example": null,
                          "description": "User ID who created the lead."
                        },
                        "phones": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "type",
                              "phone"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "work",
                                  "personal"
                                ],
                                "example": "work",
                                "description": "Phone number type."
                              },
                              "phone": {
                                "type": "string",
                                "example": "+44123456789",
                                "description": "Phone number value."
                              }
                            }
                          }
                        },
                        "contacts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "type",
                              "value"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "email_work",
                                  "email_personal",
                                  "skype",
                                  "telegram",
                                  "viber",
                                  "whatsapp"
                                ],
                                "example": "email_work",
                                "description": "Contact type."
                              },
                              "value": {
                                "type": "string",
                                "example": "good_company@example.com",
                                "description": "Contact value."
                              }
                            }
                          }
                        },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "label"
                            ],
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 12,
                                "description": "Label ID."
                              },
                              "label": {
                                "type": "string",
                                "example": "Best clients",
                                "description": "Label name."
                              }
                            }
                          }
                        },
                        "utms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "param",
                              "value",
                              "display_value"
                            ],
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 19,
                                "description": "Source tag ID."
                              },
                              "param": {
                                "type": "string",
                                "enum": [
                                  "utm_source",
                                  "utm_medium",
                                  "utm_campaign",
                                  "utm_content",
                                  "phone",
                                  "custom"
                                ],
                                "example": "utm_source",
                                "description": "Source tag type."
                              },
                              "value": {
                                "type": "string",
                                "example": "google",
                                "description": "Actual tag value."
                              },
                              "display_value": {
                                "type": "string",
                                "example": "Google",
                                "description": "Displayed tag value."
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "custom_properties": {
                          "type": "array",
                          "description": "Additional custom properties.",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "key",
                              "title",
                              "value"
                            ],
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 18,
                                "description": "Custom property ID."
                              },
                              "key": {
                                "type": "string",
                                "example": "loyalty",
                                "description": "Unique property key."
                              },
                              "title": {
                                "type": "string",
                                "example": "Loyalty",
                                "description": "Displayed property name."
                              },
                              "value": {
                                "type": "string",
                                "example": "high",
                                "description": "Property value."
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clients"
        ],
        "summary": "Update customer",
        "description": "Updates an existing customer by ID.",
        "operationId": "zcrm.customers.update",
        "parameters": [
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "description": "Customer ID.",
            "schema": {
              "type": "integer",
              "example": 65
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "customer": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Good Company",
                        "description": "Customer name."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "company"
                        ],
                        "example": "company",
                        "description": "Customer status."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "potential",
                          "client",
                          "reseller",
                          "partner"
                        ],
                        "example": "client",
                        "description": "Customer type."
                      },
                      "responsible_user_id": {
                        "type": "integer",
                        "example": 20,
                        "description": "Responsible user ID (optional)."
                      },
                      "employees_count": {
                        "type": "string",
                        "enum": [
                          "50",
                          "50_250",
                          "250_500"
                        ],
                        "example": "50",
                        "description": "Number of employees range (optional)."
                      },
                      "comment": {
                        "type": "string",
                        "example": "",
                        "description": "Customer description (optional)."
                      },
                      "country": {
                        "type": "string",
                        "example": "GB",
                        "description": "Country ISO 3166-1 alpha-2 code (optional)."
                      },
                      "city": {
                        "type": "string",
                        "example": "London",
                        "description": "City (optional)."
                      },
                      "address": {
                        "type": "string",
                        "example": "",
                        "description": "Address (optional)."
                      },
                      "zip": {
                        "type": "string",
                        "example": "",
                        "description": "Zip code (optional)."
                      },
                      "website": {
                        "type": "string",
                        "example": "",
                        "description": "Website (optional)."
                      },
                      "lead_source": {
                        "type": "string",
                        "enum": [
                          "manual",
                          "call_incoming",
                          "call_outgoing",
                          "form"
                        ],
                        "example": "manual",
                        "description": "Source (optional)."
                      },
                      "phones": {
                        "type": "array",
                        "description": "Phone numbers array (optional).",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "work",
                                "personal"
                              ],
                              "example": "work",
                              "description": "Phone number type."
                            },
                            "phone": {
                              "type": "string",
                              "example": "+44123456789",
                              "description": "Phone number value."
                            }
                          }
                        }
                      },
                      "contacts": {
                        "type": "array",
                        "description": "Contacts array (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "value"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "email_work",
                                "email_personal",
                                "skype",
                                "telegram",
                                "viber",
                                "whatsapp"
                              ],
                              "example": "email_work",
                              "description": "Contact type."
                            },
                            "value": {
                              "type": "string",
                              "example": "good_company@example.com",
                              "description": "Contact value."
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels array — each element must contain existing label ID (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 12
                            }
                          }
                        }
                      },
                      "utms": {
                        "type": "array",
                        "description": "Source tags array — each element must contain existing tag ID (optional).",
                        "items": {
                          "type": "object",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 19
                            }
                          }
                        }
                      },
                      "custom_properties": {
                        "type": "array",
                        "description": "Custom properties array — each element must contain id (or key) and value (optional).",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 18,
                              "description": "Custom property ID."
                            },
                            "key": {
                              "type": "string",
                              "example": "loyalty",
                              "description": "Custom property unique key (alternative to id)."
                            },
                            "value": {
                              "type": "string",
                              "example": "high",
                              "description": "Property value."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response — no body or empty success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "summary": "Delete customer",
        "description": "Deletes a customer by ID.",
        "operationId": "zcrm.customers.delete",
        "parameters": [
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "description": "Customer ID.",
            "schema": {
              "type": "integer",
              "example": 65
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/utms": {
      "get": {
        "tags": [
          "Source Tags"
        ],
        "summary": "List source tags",
        "description": "Returns all source tags and their usage statistics.",
        "operationId": "zcrm.customers.utms",
        "responses": {
          "200": {
            "description": "Successful response — array of source tags.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "param",
                      "value",
                      "display_value",
                      "count"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 78,
                        "description": "Source tag ID."
                      },
                      "param": {
                        "type": "string",
                        "enum": [
                          "utm_source",
                          "utm_medium",
                          "utm_campaign",
                          "utm_content",
                          "phone",
                          "custom"
                        ],
                        "example": "utm_source",
                        "description": "Source tag type."
                      },
                      "value": {
                        "type": "string",
                        "example": "google",
                        "description": "Actual source tag value."
                      },
                      "display_value": {
                        "type": "string",
                        "example": "Google",
                        "description": "Displayed source tag value."
                      },
                      "count": {
                        "type": "integer",
                        "example": 1267,
                        "description": "Number of clients and leads using this tag."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Source Tags"
        ],
        "summary": "Create source tag",
        "description": "Creates a new source tag.",
        "operationId": "zcrm.customers.utms.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "utm"
                ],
                "properties": {
                  "utm": {
                    "type": "object",
                    "required": [
                      "param",
                      "value"
                    ],
                    "properties": {
                      "param": {
                        "type": "string",
                        "enum": [
                          "utm_source",
                          "utm_medium",
                          "utm_campaign",
                          "utm_content",
                          "phone",
                          "custom"
                        ],
                        "example": "utm_source",
                        "description": "Source tag type."
                      },
                      "value": {
                        "type": "string",
                        "example": "google",
                        "description": "Actual source tag value."
                      },
                      "display_value": {
                        "type": "string",
                        "example": "Google",
                        "description": "Displayed source tag value (optional)."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response — returns the ID of the created source tag.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 78,
                      "description": "Created source tag ID."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/utms/{utm_id}": {
      "put": {
        "tags": [
          "Source Tags"
        ],
        "summary": "Update source tag",
        "description": "Updates an existing source tag by ID.",
        "operationId": "zcrm.customers.utms.update",
        "parameters": [
          {
            "name": "utm_id",
            "in": "path",
            "required": true,
            "description": "Source tag ID.",
            "schema": {
              "type": "integer",
              "example": 78
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "utm"
                ],
                "properties": {
                  "utm": {
                    "type": "object",
                    "required": [
                      "param",
                      "value"
                    ],
                    "properties": {
                      "param": {
                        "type": "string",
                        "enum": [
                          "utm_source",
                          "utm_medium",
                          "utm_campaign",
                          "utm_content",
                          "phone",
                          "custom"
                        ],
                        "example": "utm_source"
                      },
                      "value": {
                        "type": "string",
                        "example": "google"
                      },
                      "display_value": {
                        "type": "string",
                        "example": "Google"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Source Tags"
        ],
        "summary": "Delete source tag",
        "description": "Deletes a source tag from the system by ID.",
        "operationId": "zcrm.customers.utms.delete",
        "parameters": [
          {
            "name": "utm_id",
            "in": "path",
            "required": true,
            "description": "Source tag ID.",
            "schema": {
              "type": "integer",
              "example": 78
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "List labels",
        "description": "Returns all labels and their usage statistics.",
        "operationId": "zcrm.customers.labels",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totalCount",
                    "labels"
                  ],
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "example": 5,
                      "description": "Total number of labels."
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "label",
                          "count"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 12,
                            "description": "Label ID."
                          },
                          "label": {
                            "type": "string",
                            "example": "Best clients",
                            "description": "Label name."
                          },
                          "count": {
                            "type": "integer",
                            "example": 14,
                            "description": "Number of clients/leads using this label."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Create label",
        "description": "Creates a new label.",
        "operationId": "zcrm.customers.labels.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Very best clients",
                    "description": "New label name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response — returns the created label.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "label",
                    "count"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 13,
                      "description": "Created label ID."
                    },
                    "label": {
                      "type": "string",
                      "example": "Very best clients",
                      "description": "Label name."
                    },
                    "count": {
                      "type": "integer",
                      "example": 0,
                      "description": "Number of clients/leads using this label (0 on creation)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/labels/{l_id}": {
      "delete": {
        "tags": [
          "Labels"
        ],
        "summary": "Delete label",
        "description": "Deletes a label from the system by ID.",
        "operationId": "zcrm.customers.labels.delete",
        "parameters": [
          {
            "name": "l_id",
            "in": "path",
            "required": true,
            "description": "Label ID.",
            "schema": {
              "type": "integer",
              "example": 13
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/custom-properties": {
      "get": {
        "tags": [
          "Additional Features"
        ],
        "summary": "List custom properties",
        "description": "Returns all additional custom properties defined for customers.",
        "operationId": "zcrm.customers.custom_properties",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totalCount",
                    "customProperties"
                  ],
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "example": 8,
                      "description": "Total number of custom properties."
                    },
                    "customProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "key",
                          "title"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 18,
                            "description": "Custom property ID."
                          },
                          "key": {
                            "type": "string",
                            "example": "loyalty",
                            "description": "Unique property name (key)."
                          },
                          "title": {
                            "type": "string",
                            "example": "Loyalty",
                            "description": "Displayed property name."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Auth error"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ],
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You exceeded the rate limit"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/zcrm/customers/{c_id}/feed": {
      "get": {
        "tags": [
          "Client Timeline"
        ],
        "summary": "Get client timeline",
        "description": "Returns all records in the client's timeline feed.",
        "operationId": "zcrm.customers.feed.get",
        "parameters": [
          {
            "name": "c_id",
            "in": "path",
            "required": true,
            "description": "Customer ID.",
            "schema": {
              "type": "integer",
              "example": 65
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totalCount",
                    "items"
                  ],
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "example": 17,
                      "description": "Total number of records."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "content",
                          "time",
                          "user_id",
                          "user_name"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 37825,
                            "description": "Feed record ID."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "event",
                              "note",
                              "call"
                            ],
                            "example": "note",
                            "description": "Record type: event, note, or call."
                          },
                          "content": {
                            "type": "string",
                            "example": "Call to the client",
                            "description": "For notes: note text. For events: event identifier (e.g. CUSTOMER_CREATED, LEAD_CREATED)."
                          },
                          "time": {
                            "type": "string",
                            "example": "2020-06-08 06:55:02",
[...]
